<!-- FONT -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<!-- END FONT -->

<div class="row mt-4">
    <div class="col-3">
        <div class="card card-animate">
            <div class="position-absolute top-50 start-0 translate-middle-y" style="z-index: 0;">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                    height="120">
                    <path id="Shape 8" class="s0"
                        d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                </svg>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <div class="row mx-0 py-0">
                            <div class="col-8">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Total Equipment</p>
                                </div>
                                <h4 class="mt-3 ff-secondary fw-semibold">
                                    <span>{{ equipmentData.jumlah_equipment }} Unit</span>
                                </h4>
                            </div>
                            <div class="col-4 bg-soft-primary rounded-start align-middle text-center pt-1">
                                <i class="fs-1 las la-drafting-compass text-primary my-4"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card card-animate">
            <div class="position-absolute top-50 start-0 translate-middle-y" style="z-index: 0;">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                    height="120">
                    <path id="Shape 8" class="registration"
                        d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                </svg>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <div class="row mx-0 py-0">
                            <div class="col-8">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Registration</p>
                                </div>
                                <h4 class="mt-3 ff-secondary fw-semibold">
                                    <span>10 Unit</span>
                                </h4>
                            </div>
                            <div class="col-4 bg-soft-success rounded-start align-middle text-center pt-1">
                                <i class="fs-1 las la-feather-alt text-success my-4"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card card-animate">
            <div class="position-absolute top-50 start-0 translate-middle-y" style="z-index: 0;">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                    height="120">
                    <path id="Shape 8" class="soon"
                        d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                </svg>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <div class="row mx-0 py-0">
                            <div class="col-8">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Expired Soon</p>
                                </div>
                                <h4 class="mt-3 ff-secondary fw-semibold">
                                    <span>60 Unit</span>
                                </h4>
                            </div>
                            <div class="col-4 bg-soft-warning rounded-start align-middle text-center pt-1">
                                <i class="fs-1 las la-exclamation-triangle text-warning my-4"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card card-animate">
            <div class="position-absolute top-50 start-0 translate-middle-y" style="z-index: 0;">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" width="200"
                    height="120">
                    <path id="Shape 8" class="expired"
                        d="m189.5-25.8c0 0 20.1 46.2-26.7 71.4 0 0-60 15.4-62.3 65.3-2.2 49.8-50.6 59.3-57.8 61.5-7.2 2.3-60.8 0-60.8 0l-11.9-199.4z" />
                </svg>
            </div>
            <div class="card-body px-0">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <div class="row mx-0 py-0">
                            <div class="col-8">
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Expired</p>
                                </div>
                                <h4 class="mt-3 ff-secondary fw-semibold">
                                    <span>0 Unit</span>
                                </h4>
                            </div>
                            <div class="col-4 bg-soft-danger rounded-start align-middle text-center pt-1">
                                <i class="fs-1 las la-exclamation-circle text-danger my-4"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col">
        <iframe
            src="https://myapps.aio.co.id/metabase/public/dashboard/02d21811-3b92-4a23-a790-1905703bba3e#bordered=true&titled=false"
            frameborder="0"
            width="100%"
            height="1000"
            allowtransparency
        ></iframe>
    </div>
</div>
