.title {
    color: #484c7f;
    padding: 0.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  

  //khusus THEAD
  .head {
    background-color: #484c7f; /* Warna dasar */
    color: white; /* Warna teks */
  }
  
  .head th {
    padding: 0.5rem 0.5rem; /* Padding untuk tiap sel header */
    text-align: center; /* Teks terpusat */
    font-weight: bold; /* Tebal */
    font-size: 12px; /* Ukuran font */
    text-transform: uppercase; /* Huruf kapital */
    border-bottom: 2px solid #ddd; /* Garis bawah tipis */
  }
  
  .head th:first-child {
    border-top-left-radius: 0.5rem; /* Sudut atas kiri */
  }
  
  .head th:last-child {
    border-top-right-radius: 0.5rem; /* Sudut atas kanan */
  }
  
  .head th:nth-last-child(2),
  .head th:nth-last-child(1) {
    border-bottom: none; /* Menghilangkan garis bawah untuk dua kolom terakhir */
  }
  

td {
    text-align: center; /* Teks terpusat */
    font-size: 0.800rem; /* Ukuran font */
    text-transform: uppercase; /* Huruf kapital */
  }



  //khusus untuk yg ready dan not ready
td {
  padding: 8px 12px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #484C7F; /* Base color scheme */
}

.bg-white {
  background-color: #ffffff;
}

.border-b {
  border-bottom: 1px solid #dddddd;
}

.dark-bg-gray-800 {
  background-color: #333333;
}

.dark-border-gray-700 {
  border-color: #555555;
}

.text-gray-900 {
  color: #1a1a1a;
}

.font-medium {
  font-weight: 500;
}

/* Styles for the "Ready" and "Not Ready" indicators */
span.relative {
  position: relative;
  display: inline-block;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
}

span.relative span.absolute {
  position: absolute;
  inset: 0;
  border-radius: 50px;
  opacity: 0.5;
}

/* Specific styles for status indicators */
span.text-green-900 {
  color: #155724;
}

span.bg-green-200 {
  background-color: #d4edda;
}



span.bg-red-200 {
  color: #721c24;
  background-color: #f8d7da;
}

/* Prevent text from breaking into multiple lines */
span.relative {
  white-space: nowrap;
}

/* Responsive styles */
@media (max-width: 768px) {
  td {
    padding: 8px 12px;
  }

  span.relative {
    font-size: 12px;
    padding: 6px 10px;
  }
}
