<div class="flex-grow-1">
  <h4 class="niceday">Helo! Welcome to Genba<i class="ri-heart-fill"></i>
  </h4>
  <p class="worktoday">Have a Nice Day <i class="ri-heart-fill"></i></p>
</div>



<div class="row justify-content-center">
  <div class="col">
    <div class="card">
      <div class="w-full px-6 py-6 mx-auto">
        <div class="new">
          <div class="text-center lg:text-left ">
            <span class="genba">
              <img src="assets/img/love1.png" alt="Love Icon" class="love-icon1"> GENBA <img src="assets/img/love2.png"
                alt="Love Icon" class="love-icon2">
            </span>
            <div class="flex justify-center lg:justify-start">
              <img src="assets/img/genbalg.png" alt="iot" width="400px" height="400px">
            </div>
            <h2 class="visigenba">Smart Quality Dashboard for Visualization Data IoT QA</h2>
            <div class="wrapper">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-animate w-100">
                <div class="card-body text-center">
                  <h3>Cross Genba</h3>
                  <div class="row">
                    <div class="col-6">
                      <h1>{{ crossOpen.length }}</h1>
                      open
                    </div>
                    <div class="col-6">
                      <h1>{{ crossClose.length }}</h1>
                      close
                    </div>
                  </div>
                </div>
              </div>
              <apx-chart [series]="donutCategoryCross.series" [chart]="donutCategoryCross.chart"
                [labels]="donutCategoryCross.labels" [responsive]="donutCategoryCross.responsive"
                [legend]="donutCategoryCross.legend" [dataLabels]="donutCategoryCross.dataLabels"
                [colors]="donutCategoryCross.colors" dir="ltr"></apx-chart>
            </div>
            <div class="col-5">
              <apx-chart [series]="findingAreaBarChartCross.series" [chart]="findingAreaBarChartCross.chart"
                [xaxis]="findingAreaBarChartCross.xaxis" [yaxis]="findingAreaBarChartCross.yaxis"
                [plotOptions]="findingAreaBarChartCross.plotOptions" dir="ltr"></apx-chart>
            </div>
            <div class="col-4 overflow-auto">
              <div class="search-box d-flex justify-content-end">
                <!-- <i class="ri-search-line search-icon"></i> -->
                <input type="search" name="searchRegistTable" class="form-control search bg-light border-light w-50"
                    placeholder="Search" (keyup)="searchData($event)" (search)="searchData($event)">
              </div>
              <table class="table table-striped table-hover align-middle table-nowrap text-center">
                <thead class="text-muted">
                  <tr>
                      <th class="text-uppercase">No</th>
                      <th class="text-uppercase">Category</th>
                      <th class="text-uppercase">Date Genba</th>
                      <th class="text-uppercase">PIC Area</th>
                      <th class="text-uppercase">Status</th>
                  </tr>
                </thead>
                <tbody class="list form-check-all" id="dashboard-calibration-data">
                  <tr *ngFor="let data of allCrossGenbaPaginated; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.tgl }}</td>
                    <td>{{ data.pic_area }}</td>
                    <td>{{ data.status }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row justify-content-md-between align-items-md-center mt-3">
                <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                        {{ getShowingText() }} of {{ countAllCrossGenba }} entries
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                        <ngb-pagination 
                            [collectionSize]="countAllCrossGenba" 
                            [(page)]="page" 
                            [pageSize]="pageSize"
                            [maxSize]="3"
                            (pageChange)="onPageChange($event, 'cross')">
                        </ngb-pagination>
                    </div>
                </div>
                <!-- End Pagination -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="card card-animate w-100">
                <div class="card-body text-center">
                  <h3>Self Genba</h3>
                  <div class="row">
                    <div class="col-6">
                      <h1>{{ selfOpen.length }}</h1>
                      open
                    </div>
                    <div class="col-6">
                      <h1>{{ selfClose.length }}</h1>
                      close
                    </div>
                  </div>
                </div>
              </div>
              <apx-chart [series]="donutCategorySelf.series" [chart]="donutCategorySelf.chart"
                [labels]="donutCategorySelf.labels" [responsive]="donutCategorySelf.responsive"
                [legend]="donutCategorySelf.legend" [dataLabels]="donutCategorySelf.dataLabels"
                [colors]="donutCategorySelf.colors" dir="ltr"></apx-chart>
            </div>
            <div class="col-5">
              <apx-chart [series]="findingAreaBarChartSelf.series" [chart]="findingAreaBarChartSelf.chart"
                [xaxis]="findingAreaBarChartSelf.xaxis" [yaxis]="findingAreaBarChartSelf.yaxis"
                [plotOptions]="findingAreaBarChartSelf.plotOptions" dir="ltr"></apx-chart>
            </div>
            <div class="col-4 overflow-auto">
              <div class="search-box d-flex justify-content-end">
                <!-- <i class="ri-search-line search-icon"></i> -->
                <input type="search" name="searchRegistTable" class="form-control search bg-light border-light w-50"
                    placeholder="Search" (keyup)="searchDataSelf($event)" (search)="searchDataSelf($event)">
              </div>
              <table class="table table-striped table-hover align-middle table-nowrap text-center">
                <thead class="text-muted">
                  <tr>
                      <th class="text-uppercase">No</th>
                      <th class="text-uppercase">Category</th>
                      <th class="text-uppercase">Date Genba</th>
                      <th class="text-uppercase">PIC Area</th>
                      <th class="text-uppercase">Status</th>
                  </tr>
                </thead>
                <tbody class="list form-check-all" id="dashboard-calibration-data">
                  <tr *ngFor="let data of allSelfGenbaPaginated; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.tgl }}</td>
                    <td>{{ data.pic_area }}</td>
                    <td>{{ data.status }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="row justify-content-md-between align-items-md-center mt-3">
                <div class="col col-sm-6">
                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                        {{ getShowingText() }} of {{ countAllSelfGenba }} entries
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col col-sm-6">
                    <div class="text-sm-right float-end listjs-pagination">
                        <ngb-pagination 
                            [collectionSize]="countAllSelfGenba" 
                            [(page)]="pageSelf" 
                            [pageSize]="pageSize"
                            [maxSize]="3"
                            (pageChange)="onPageChange($event, 'self')">
                        </ngb-pagination>
                    </div>
                </div>
                <!-- End Pagination -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CHART GENBA DASHBOARD-->

  <div class="container-fluid" hidden>
    <div class="row justify-content-center">
      <!--SELF GENBA COLUMNS CHART-->
      <div class="col-xl-6 order-1 order-xl-1">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">SELF GENBAa</h4>
          </div><!-- end card header -->

          <div class="card-body">
            <apx-chart [series]="StackedColumnChart.series" [chart]="StackedColumnChart.chart"
              [dataLabels]="StackedColumnChart.dataLabels" [plotOptions]="StackedColumnChart.plotOptions"
              [responsive]="StackedColumnChart.responsive" [xaxis]="StackedColumnChart.xaxis"
              [legend]="StackedColumnChart.legend" [fill]="StackedColumnChart.fill" [colors]="StackedColumnChart.colors"
              dir="ltr"></apx-chart>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div>
      <!--CROSS AUDIT GENBA COLUMNS CHARTT-->
      <div class="col-xl-6 order-2 order-xl-2">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Cross Audit Genba</h4>
          </div><!-- end card header -->
          <div class="card-body">
            <apx-chart [series]="distributedColumnChart.series" [chart]="distributedColumnChart.chart"
              [dataLabels]="distributedColumnChart.dataLabels" [plotOptions]="distributedColumnChart.plotOptions"
              [yaxis]="distributedColumnChart.yaxis" [xaxis]="distributedColumnChart.xaxis"
              [legend]="distributedColumnChart.legend" [colors]="distributedColumnChart.colors"
              [grid]="distributedColumnChart.grid" dir="ltr"></apx-chart>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div>
      <!-- COLOUMN WITH DATA LABELS -->
      <div class="col-xl-6 order-4 order-xl-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Column with Data Labels</h4>
          </div><!-- end card header -->

          <div class="card-body">
            <apx-chart [series]="columnWithDataChart.series" [chart]="columnWithDataChart.chart"
              [dataLabels]="columnWithDataChart.dataLabels" [plotOptions]="columnWithDataChart.plotOptions"
              [yaxis]="columnWithDataChart.yaxis" [xaxis]="columnWithDataChart.xaxis" [fill]="columnWithDataChart.fill"
              [title]="columnWithDataChart.title" [colors]="columnWithDataChart.colors" dir="ltr"></apx-chart>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div>
      <!--STACKED COLUMNS 100-->
      <div class="col-xl-6 order-3 order-xl-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Stacked Column 100</h4>
          </div><!-- end card header -->

          <div class="card-body">
            <apx-chart [series]="StackedColumn100Chart.series" [chart]="StackedColumn100Chart.chart"
              [dataLabels]="StackedColumn100Chart.dataLabels" [plotOptions]="StackedColumn100Chart.plotOptions"
              [responsive]="StackedColumn100Chart.responsive" [xaxis]="StackedColumn100Chart.xaxis"
              [legend]="StackedColumn100Chart.legend" [fill]="StackedColumn100Chart.fill"
              [colors]="StackedColumn100Chart.colors" dir="ltr"></apx-chart>
          </div><!-- end card-body -->
        </div><!-- end card -->
      </div>
      <!--SIMPLE DONUT CHART-->
      <div class="row d-flex justify-content-center">
        <div class="col-xl-5">
          <div class="card">
            <h4 class="card-title mb-0">Simple Donut Chart</h4>
            <div class="card-body">
              <apx-chart [series]="simpleDonutChart.series" [chart]="simpleDonutChart.chart"
                [labels]="simpleDonutChart.labels" [responsive]="simpleDonutChart.responsive"
                [legend]="simpleDonutChart.legend" [dataLabels]="simpleDonutChart.dataLabels"
                [colors]="simpleDonutChart.colors" dir="ltr"></apx-chart>
            </div><!-- end card-body -->
          </div>
        </div>

        <div class="col-xl-5">
          <div class="card">
            <h4 class="card-title mb-0">Simple Donut Chart</h4>
            <div class="card-body">
              <apx-chart [series]="simpleDonutChart.series" [chart]="simpleDonutChart.chart"
                [labels]="simpleDonutChart.labels" [responsive]="simpleDonutChart.responsive"
                [legend]="simpleDonutChart.legend" [dataLabels]="simpleDonutChart.dataLabels"
                [colors]="simpleDonutChart.colors" dir="ltr"></apx-chart>
            </div><!-- end card-body -->
          </div>
        </div>

      </div>


    </div>
  </div>

</div>