.niceday {
    font-size: 24px; /* ukuran font */
    font-weight: bold; /* tebal */
    color: #ffffff; /* warna teks */
  }
  
  .worktoday {
    font-size: 18px; /* ukuran font */
    color: #000000; /* warna teks */
  }
  
  .genba {
    font-weight: bold; /* Membuat teks menjadi tebal */
    font-size: 100px; /* Mengatur ukuran teks */
    background: linear-gradient(to right, #DDB6C6, #cc708f, #b90072); /* Gradasi warna latar belakang */
    -webkit-background-clip: text; /* Menggunakan latar belakang sebagai warna teks (untuk browser WebKit) */
    -webkit-text-fill-color: transparent; /* Mengatur warna teks menjadi transparan (untuk browser WebKit) */
  }

  .love-icon1 {
    width: 80px; /* Sesuaikan ukuran dengan kebutuhan Anda */
    height: 80px; /* Sesuaikan ukuran dengan kebutuhan Anda */
    margin-right: 0.5px; /* Atur jarak antara gambar dengan teks */
  }
  
  .love-icon2 {
    width: 80px; /* Sesuaikan ukuran dengan kebutuhan Anda */
    height: 80px; /* Sesuaikan ukuran dengan kebutuhan Anda */
    margin-right: 5px; /* Atur jarak antara gambar dengan teks */
  }
  
  .visigenba {
    font-weight: bold; /* Membuat teks menjadi tebal */
    font-size: 28px; /* Mengatur ukuran teks */
    background: linear-gradient(to right, #b90072, #cc708f); /* Gradasi warna latar belakang */
    -webkit-background-clip: text; /* Menggunakan latar belakang sebagai warna teks (untuk browser WebKit) */
    -webkit-text-fill-color: transparent; /* Mengatur warna teks menjadi transparan (untuk browser WebKit) */
  }
  
  .card-body {
    background-color: #decbd3; /* Warna latar belakang isi kartu */
  }
  
