<div class="row justify-content-center">
  <div class="col-10 d-flex justify-content-center">
    <img src="assets/img/redarea.png" alt="monitoring" style="border-radius: 25px; max-width: 60%; height: auto;">
  </div>
</div> &nbsp;

<div class="temuan">
  <div class="row">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
            <h6 class="text-center">Monitoring YTD Red Area</h6>
            <div class="row justify-content-end">
              <div class="col-md-3">
                  <select class="form-select" id="year" (change)="onYearSelected($event)">
                      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                  </select>
              </div>
            </div>
            <apx-chart [series]="chartBarMonitoringYtd.series" [chart]="chartBarMonitoringYtd.chart" [dataLabels]="chartBarMonitoringYtd.dataLabels"
              [plotOptions]="chartBarMonitoringYtd.plotOptions" [yaxis]="chartBarMonitoringYtd.yaxis" [legend]="chartBarMonitoringYtd.legend"
              [fill]="chartBarMonitoringYtd.fill" [stroke]="chartBarMonitoringYtd.stroke" [tooltip]="chartBarMonitoringYtd.tooltip"
              [xaxis]="chartBarMonitoringYtd.xaxis" [colors]="chartBarMonitoringYtd.colors" dir="ltr"></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <div class="card h-100">
            <div class="card-body text-center">
                <h6 class="text-center">Findding Category</h6>
                <div class="row">
                  <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div *ngIf="donutCategory.series[0] != null; else elseBlockDonat" class="row">
                      <apx-chart [series]="donutCategory.series" [chart]="donutCategory.chart"
                          [labels]="donutCategory.labels" [responsive]="donutCategory.responsive"
                          [legend]="donutCategory.legend" [dataLabels]="donutCategory.dataLabels"
                          [colors]="donutCategory.colors" dir="ltr"></apx-chart>
                    </div>
                    <ng-template #elseBlockDonat>
                      <div class="col d-flex align-items-center justify-content-center fs-3 text-black-50" style="height: 100px;">
                          No Data
                      </div>                                                                  
                    </ng-template>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="card card-animate p-0">
                        <div class="card-body px-0">
                            <div class="row mx-0">
                                <div class="col-8">
                                    <p class="fw-medium fs-5 text-muted mt-2">Red Area</p>
                                    <h1 class="mt-3 ff-secondary fw-semibold">
                                      <div *ngIf="countRed > 0 ;else templateName">
                                        <span [CountTo]="countRed" class="counter-value" [from]="0" [duration]="1"></span>
                                      </div>
                                      <ng-template #templateName>
                                        <span>0</span>
                                      </ng-template>
                                    </h1>
                                </div>
                                <div class="col-4 bg-soft-danger rounded-start align-middle text-center pt-1">
                                    <i class="fs-1 las la-exclamation-triangle text-danger my-4"></i>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="card card-animate p-0">
                        <div class="card-body px-0">
                            <div class="row mx-0">
                                <div class="col-8">
                                    <p class="fw-medium fs-5 text-muted mt-2">Yellow Area</p>
                                    <h1 class="mt-3 ff-secondary fw-semibold">
                                      <div *ngIf="countYellow > 0 ;else templateName">
                                        <span [CountTo]="countYellow" class="counter-value" [from]="0" [duration]="1"></span>
                                      </div>
                                      <ng-template #templateName>
                                        <span>0</span>
                                      </ng-template>
                                    </h1>
                                </div>
                                <div class="col-4 bg-soft-warning rounded-start align-middle text-center pt-1">
                                    <i class="fs-1 las la-exclamation-circle text-warning my-4"></i>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
      <!-- DETAIL TABLE -->
      <div class="card p-0 h-100">
          <div class="card-body">
              <table class="table rounded-table">
                  <thead class="fw-bold border-bottom" style="border-width: 0px 0px 5px 0px;  border-color: black; background-color: whitesmoke;">
                      <tr>
                          <td class="text-center w-50">Jenis Pengujian</td>
                          <td class="text-center">Standart</td>
                      </tr>
                  </thead>
                  <tbody class="table-group-divider">
                      <tr>
                          <td>Bacteria</td>
                          <td>5000 cfu</td>
                      </tr>
                      <tr>
                          <td>Jamur</td>
                          <td>500 cfu</td>
                      </tr>
                  </tbody>
              </table>
              <!-- <h6 class="text-center">Result Swab</h6> -->
              <div id="resultSwab" class="overflow-auto"></div>
          </div>
      </div>
  </div>
  <div class="col-md-8">
    <div class="card h-100">
        <div class="card-body">
            <h6 class="text-center">Result SWAB</h6>
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-2">
                      <select class="form-select mb-3" aria-label="Default select example" (change)="onChangeLine($event)">
                          <option disabled selected>Pilih Line</option>
                          <option value="tr_swab_al4">M/C FSB</option>
                          <option value="tr_swab_can">OC1</option>
                          <option value="tr_swab_pet">OC2</option>
                          <option value="tr_swab_enmix">ENV FSB</option>
                          <option value="tr_swab_oc3">ENV PS</option>
                      </select>
                  </div>
                  <div class="col-2">
                      <select class="form-select mb-3" (change)="onChangeMicro($event)">
                          <option disabled selected>Pilih Line</option>
                          <option value="bacteria">Bacteria</option>
                          <option value="yeast">Yeast</option>
                          <option value="mold">Mold</option>
                          <option value="tm">TM</option>
                          <option value="tab">TAB</option>
                          <option value="e_coli">Ecoli</option>
                          <option value="salmonella">Salmonella</option>
                      </select>
                  </div>
                  <div class="col-3">
                      <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                          aria-describedby="inputGroupPrepend" required formControlName="date"
                          [convertModelValue]="true"
                          mode="range" placeholder="Select Date" (change)="onChangeDate($event)">
                  </div>
                  <div class="col-3">
                      <select class="form-select mb-3" (change)="onChangeArea($event)">
                          <option disabled selected>Pilih Area</option>
                          <option *ngFor="let option of areaSwab" [value]="option.id">{{ option.sub_area }}</option>
                      </select>
                  </div>
                  <div class="col-2">
                      <button class="btn btn-primary border" type="submit" ngbTooltip="Filter" aria-expanded="false"><i class="ri-filter-fill "></i></button>
                  </div>
              </div>
            </form>
            <div class="chart">
              <div *ngIf="resultSwabLineChart.series[0] != null || resultNullSwabLineChart.series[0] != null ; else elseBlock" class="row">
                <apx-chart [series]="resultSwabLineChart.series" [chart]="resultSwabLineChart.chart"
                  [xaxis]="resultSwabLineChart.xaxis" [stroke]="resultSwabLineChart.stroke"
                  [colors]="resultSwabLineChart.colors" [dataLabels]="resultSwabLineChart.dataLabels"
                  [legend]="resultSwabLineChart.legend" [markers]="resultSwabLineChart.markers"
                  [grid]="resultSwabLineChart.grid" [yaxis]="resultSwabLineChart.yaxis"
                  [title]="resultSwabLineChart.title" dir="ltr"></apx-chart>
                <apx-chart [series]="resultNullSwabLineChart.series" [chart]="resultNullSwabLineChart.chart"
                  [xaxis]="resultNullSwabLineChart.xaxis" [stroke]="resultNullSwabLineChart.stroke"
                  [colors]="resultNullSwabLineChart.colors" [dataLabels]="resultNullSwabLineChart.dataLabels"
                  [legend]="resultNullSwabLineChart.legend" [markers]="resultNullSwabLineChart.markers"
                  [grid]="resultNullSwabLineChart.grid" [yaxis]="resultNullSwabLineChart.yaxis"
                  [title]="resultNullSwabLineChart.title" dir="ltr"></apx-chart>
              </div>
              <ng-template #elseBlock>
                <div class="col d-flex align-items-center justify-content-center fs-3 text-black-50" style="height: 100px;">
                    No Data Try Filter Data
                </div>                                                                  
              </ng-template>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
  <form>
    <div class="form" class="d-flex">
      <div class="date-section">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate">
      </div> &nbsp;
      <div class="date-section">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate">
      </div> &nbsp;
      <div>
        <button type="submit" class="filter">Get</button> &nbsp;
      </div>
    </div>
  </form>
</div> &nbsp;



<div class="box">
  <div class="box-card red-area">
    <h5 class="box-card-title">Total Red Area</h5>
    <br>
    <span class="materialcard">
      <img src="assets/img/bacteri1.png" alt="Love Icon" class="love-icon1">
    </span>
  </div>

  
  <div class="box-card red-area">
    <h5 class="box-card-title">Repetitive Red Area</h5>
    <br>
    <span class="materialcard">
      <img src="assets/img/bacteri2.png" alt="Love Icon" class="love-icon1">
    </span>
  </div>

  
  <div class="box-card yellow-area">
    <h5 class="box-card-title">Total Yellow Area</h5>
    <br>
    <span class="materialcard">
      <img src="assets/img/bacteri1.png" alt="Love Icon" class="love-icon1">
    </span>
  </div>

  
  <div class="box-card yellow-area">
    <h5 class="box-card-title">Repetitive Yellow Area</h5>
    <br>
    <span class="materialcard">
      <img src="assets/img/bacteri2.png" alt="Love Icon" class="love-icon1">
    </span>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Monitoring Red & Yellow Area</h4>
      </div>

      <div class="card-body">
        <apx-chart [series]="basicChart.series" [chart]="basicChart.chart" [dataLabels]="basicChart.dataLabels"
          [plotOptions]="basicChart.plotOptions" [yaxis]="basicChart.yaxis" [legend]="basicChart.legend"
          [fill]="basicChart.fill" [stroke]="basicChart.stroke" [tooltip]="basicChart.tooltip"
          [xaxis]="basicChart.xaxis" [colors]="basicChart.colors" dir="ltr"></apx-chart>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <h3 class="chart-title">Finding Red Area</h3>
    <div class="material scrollable-card">
      <div class="card-body overflow-auto" style="max-height: 300px;">
        <div class="material">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Parameter NG</th>
                <th>Point</th>
                <th>Root Cause</th>
                <th>CAPA</th>
                <th>Date/Pics</th>
                <th>Photo</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>2024-05-20</td>
                <td>Parameter 1</td>
                <td>Point A</td>
                <td>Root Cause 1</td>
                <td>CAPA 1</td>
                <td>2024-05-20</td>
                <td><img src="photo1.jpg" alt="Photo 1"></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <h3 class="chart-title">Finding Yellow Area</h3>
    <div class="material scrollable-card">
      <div class="card-body overflow-auto" style="max-height: 300px;">
        <div class="material">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Parameter NG</th>
                <th>Point</th>
                <th>Root Cause</th>
                <th>CAPA</th>
                <th>Date/Pics</th>
                <th>Photo</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>2024-05-20</td>
                <td>Parameter 1</td>
                <td>Point A</td>
                <td>Root Cause 1</td>
                <td>CAPA 1</td>
                <td>2024-05-20</td>
                <td><img src="photo1.jpg" alt="Photo 1"></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="row justify-content-center">

  <div class="col-xl-6">
    <h3 class="chart-title">OC LINE</h3>
    <div class="card">
      <h4 class="card-title">Root Cause Red Area OC YTD 2024</h4>
      <div class="card-body">
        <apx-chart [series]="gradientDonutChart.series" [chart]="gradientDonutChart.chart"
          [plotOptions]="gradientDonutChart.plotOptions" [dataLabels]="gradientDonutChart.dataLabels"
          [fill]="gradientDonutChart.fill" [title]="gradientDonutChart.title" [legend]="gradientDonutChart.legend"
          [colors]="gradientDonutChart.colors" dir="ltr"></apx-chart>
      </div>
    </div>
    <div class="card">
      <h4 class="card-title">Breakdown By Area Ytd 2024</h4>
      <div class="card-body">
        <apx-chart [series]="gradientDonutChart2.series" [chart]="gradientDonutChart2.chart"
          [plotOptions]="gradientDonutChart2.plotOptions" [dataLabels]="gradientDonutChart2.dataLabels"
          [fill]="gradientDonutChart2.fill" [title]="gradientDonutChart2.title" [legend]="gradientDonutChart2.legend"
          [colors]="gradientDonutChart.colors2" dir="ltr"></apx-chart>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <h3 class="chart-title">FSB LINE</h3>
    <div class="card">
      <h4 class="card-title">Root Cause Red Area FSB YTD 2024</h4>
      <div class="card-body">
        <apx-chart [series]="gradientDonutChart3.series" [chart]="gradientDonutChart3.chart"
          [plotOptions]="gradientDonutChart3.plotOptions" [dataLabels]="gradientDonutChart3.dataLabels"
          [fill]="gradientDonutChart3.fill" [title]="gradientDonutChart3.title" [legend]="gradientDonutChart3.legend"
          [colors]="gradientDonutChart3.colors" dir="ltr"></apx-chart>
      </div>
    </div>
    <div class="card">
      <h4 class="card-title">Breakdown By Area Ytd 2024</h4>
      <div class="card-body">
        <apx-chart [series]="gradientDonutChart4.series" [chart]="gradientDonutChart4.chart"
          [plotOptions]="gradientDonutChart4.plotOptions" [dataLabels]="gradientDonutChart4.dataLabels"
          [fill]="gradientDonutChart4.fill" [title]="gradientDonutChart4.title" [legend]="gradientDonutChart4.legend"
          [colors]="gradientDonutChart4.colors" dir="ltr"></apx-chart>
      </div>
    </div>
  </div>

</div> -->